@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:wght@500;600&display=swap');

/* Estilo para o corpo (body) */
body {
    background-color: #000000; /* Cor de fundo cinza claro */
    font-family: 'Cinzel', serif;
    font-family: 'Montserrat', sans-serif; /* Fonte para todo o documento */
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  /* Estilo para o formulário */
  form {
    background-color: #fff; /* Fundo branco para o formulário */
    padding: 20px;
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilo para os cabeçalhos (h3) dentro do formulário */
  p {
    color: #333; /* Cor do texto preto */
    margin: 5px 0; /* Espaçamento superior e inferior */
  }
  
  /* Estilo para os campos de entrada (input) dentro do formulário */
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd; /* Borda cinza clara */
    border-radius: 5px;
  }
  
  /* Estilo para o botão "Adicionar" */
  button.add {
    background-color: #f3a536; /* Amarelo claro */
    color: white; /* Texto branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para o botão "Editar" */
  button.update {
    background-color: #e74c3c; /* Vermelho claro */
    color: white; /* Texto branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para a tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto;
  }
  
  /* Estilo para as células da tabela */
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  /* Estilo para a linha de cabeçalho da tabela */
  thead {
    background-color: #333; /* Fundo cinza escuro */
    color: white; /* Texto branco */
  }

  /* Estilo para as células da tabela com classe "update" */
  td.update {
    background-color: #e74c3c; /* Vermelho claro */
    color: white; /* Texto branco */
    cursor: pointer;
  }
  
  td.nome{
    width: 500px;
  }

  td.status{
    width: 600px;
  }
  
  /* Estilo para a coluna de ações */
td.action-cell {
    text-align: center; /* Centralize os botões na célula */
    max-width: 10px;
}

/* Estilo para o contêiner dos botões na coluna "Ações" */
td.action-cell div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para os botões de ação */
td button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}


/* Estilo para o botão "Editar" */
td button.edit {
    background-color: #f3a536; /* Azul */
    color: #fff;
}

/* Estilo para o botão "Excluir" */
td button.delete {
    background-color: #e74c3c; /* Vermelho */
    color: #fff;
}

